.fotAyud li,
a:hover {
    color: rgba(193, 1, 231, 0.842)
}

.h5__listAyuda--colorTexto li,
a {
    color: darkblue;
}

#footerContacto li a {
    color: white;
}

#derechosCont {
    text-align: center;
    color: white;
    font-size: 1.375em;
}

footer ul li {
    list-style: none;
}

footer .menuFooter ul li a:hover {
    color: #1204ddad;
}

.imgRedes {
    width: 50px;
    height: 50px;
}