.styleTextP {
    font-family: 'Balsamiq Sans', cursive;
}

.styleTitleTable {
    color: #189900;
}

.publicidad {
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

.animate__rubberBand {
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.imgCarrousel {
    height: 500px;
}