.fondo {
    background-image: url(../imgs/fondo_harware.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#menu li a,
p {
    color: white;
}

.contactar p {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.formulario {
    width: 500px;
}

.iconMap {
    height: 50px;
    width: 50px;
}

.iconsTransp {
    width: 80px;
}

.map iframe {
    width: 600px;
}